@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 80vw;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7); /* 0.7 opacity (adjust as needed) */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
